<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="./css/lib/normalize.css">
		{{#style}}
		<link rel="stylesheet" href="./css/{{.}}">
		{{/style}}
		<title>{{title}}</title>
	</head>
	<body>
		{{>body}}
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-animate.min.js"></script>
		{{#script}}
		<script src="./js/{{.}}"></script>
		{{/script}}
	</body>
</html>
